batching/src/main/mule/batching.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="cadf002f-5f1b-4055-89b4-e0d6192c42e2" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="c37ac18f-73af-47d7-9633-d458f441856c" >
		<file:connection workingDir="D:\MuleAppData\BatchProcess\out" />
	</file:config>
	<flow name="batchingFlow" doc:id="555c7b76-29d9-4e12-a9ed-5e5b1c432abc" initialState="stopped">
		<db:listener table="accounts" doc:name="On Table Row" doc:id="2d0bc25e-2d64-4e3c-8455-6fec710964b8" config-ref="Database_Config" watermarkColumn="accountID" idColumn="accountID" transactionalAction="ALWAYS_BEGIN">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</db:listener>
		<batch:job jobName="batchingBatch_Job" doc:id="69606ff4-b25e-43c0-81d6-b44f838c1c54" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="cb3dc6ab-13e0-4b89-8468-d40f51396f01" >
					<ee:transform doc:name="Transform Message" doc:id="007a655e-e3e1-4321-8970-2da320a2eada" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="aggregation" doc:id="2e8ccd5c-3b5e-4744-9f85-41e10fa97c41" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="74b2c88a-4087-46ce-af55-129369068720" size="10">
						<ee:transform doc:name="Transform Message" doc:id="3f28d7ac-b0f2-4913-b77f-bb3684993b2b" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<file:write doc:name="Write" doc:id="7fe5ea1d-dcd1-493e-928f-6964bb099861" config-ref="File_Config" path='#["Account_" ++ uuid() ++ ".txt"]'/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
		</batch:job>
	</flow>
</mule>
